body {
    /* height: auto; */
    background: linear-gradient(140deg, #ff9933, #FFFFFF, #138808);
}

nav {
    width: 100%;
    overflow: auto;
}

li #_head_ {
    position: relative;
    left: 350%;
    font-size: 30px;
    text-decoration: dotted;
}

.heading {
    color: green;
}

.heading2 {
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    float: left;
    position: relative;
    right: 11%;
    font-size: 30px;
}

nav .home ul li a {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    font-family: 'Times New Roman', Times, serif;
}

li:nth-child(4) {
    position: relative;
    left: 50%;
}

nav .home ul li:nth-child(4) a {
    font-size: 1.7rem;
}


li a:hover {
    background-color: azure;
    text-decoration: underline;
}

li a:active {
    text-decoration: overline;

}

nav a {
    width: 120px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    color: black;
    padding: 10px 5px;
    border-radius: 7px;
    font-family: Arial;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-size: 1.2rem;
    /* align-items: baseline; */
    line-height: 1.5rem;
    word-spacing: 0.25rem;
    letter-spacing: 0.025rem;
}

footer a {
    color: white;
    font-size: 18px;
}

footer .name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer .end {
    font-size: 20px;
}

::-webkit-scrollbar-corner {
    background-color: rgb(0, 255, 76);
}