body {
    background-color: darkorange;
}

h1 {
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    text-align: center;
}

h3 {
    text-align: center;
    background-color: aquamarine;
    color: black;
}

.Contant {
    display: flex;

    flex-wrap: wrap;
    flex-direction: row;

    padding: 2px;
    margin: 2px;

}

img {
    width: 370px;
    height: 300px;
    margin: 2px;
    padding: 3px;
    border-radius: 10px;

}

img:hover {
    opacity: .5;
    transition: .9s;
}

button {
    position: relative;
    left: 48%;
    bottom: 9px;
    padding: 8px 16px;
    background-color: transparent;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.button {

    margin: auto;

}

.button a {
    font-size: x-large;
    text-decoration: none;
    display: inline-block;

    color: black;
}

.button a:hover {
    background-color: #ddd;
    color: black;
}

.next {

    color: white;
    border-radius: 5px;
}